TradeRiser/Service References/QueryService/DataModel1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="SessionTransact">
    <xs:sequence>
      <xs:element minOccurs="0" name="PresentationTypes" nillable="true" type="tns:ArrayOfPresentationPackage" />
      <xs:element minOccurs="0" name="ProcessedResults" nillable="true" type="tns:ComputedResultTable" />
      <xs:element minOccurs="0" name="RawDataResults" nillable="true" type="tns:ArrayOfRawDataResultTable" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResultSymbols" nillable="true" type="q1:ArrayOfArrayOfstring" />
      <xs:element minOccurs="0" name="UserQuerySessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionTransact" nillable="true" type="tns:SessionTransact" />
  <xs:complexType name="ArrayOfPresentationPackage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PresentationPackage" nillable="true" type="tns:PresentationPackage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresentationPackage" nillable="true" type="tns:ArrayOfPresentationPackage" />
  <xs:complexType name="PresentationPackage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MainWidget" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SubWidgets" nillable="true" type="q2:ArrayOfstring" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Symbol" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresentationPackage" nillable="true" type="tns:PresentationPackage" />
  <xs:complexType name="ComputedResultTable">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ComputedResults" nillable="true" type="q4:ArrayOfArrayOfstring" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HeaderDataType" nillable="true" type="q5:ArrayOfstring" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Headers" nillable="true" type="q6:ArrayOfstring" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="KeyFieldIndex" nillable="true" type="q7:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComputedResultTable" nillable="true" type="tns:ComputedResultTable" />
  <xs:complexType name="ArrayOfRawDataResultTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RawDataResultTable" nillable="true" type="tns:RawDataResultTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRawDataResultTable" nillable="true" type="tns:ArrayOfRawDataResultTable" />
  <xs:complexType name="RawDataResultTable">
    <xs:sequence>
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ChartReadyDataResults" nillable="true" type="q8:ArrayOfArrayOfArrayOfdouble" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataResults" nillable="true" type="q9:ArrayOfArrayOfArrayOfstring" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HeaderDataType" nillable="true" type="q10:ArrayOfArrayOfstring" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Headers" nillable="true" type="q11:ArrayOfArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RawDataResultTable" nillable="true" type="tns:RawDataResultTable" />
  <xs:complexType name="SessionTransactQQ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserQuerySessionID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SessionTransactQQ" nillable="true" type="tns:SessionTransactQQ" />
  <xs:complexType name="ArrayOfQueryHelperDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QueryHelperDefinition" nillable="true" type="tns:QueryHelperDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQueryHelperDefinition" nillable="true" type="tns:ArrayOfQueryHelperDefinition" />
  <xs:complexType name="QueryHelperDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryHelperDefinition" nillable="true" type="tns:QueryHelperDefinition" />
</xs:schema>